  <nav>
    <ul>
      <li><a href="..">← Home</a></li>
      <li><a href="../syllabus">?</a></li>
      <li><a href="../week1">1</a></li>
      <li><a href="../week2">2</a></li>
      <li><a href="../week3">3</a></li>
      <li><a href="../week4">4</a></li>
      <li><a href="../week5">5</a></li>
      <li><a href="../week6">6</a></li>
      <li><a href="../week7">7</a></li>
      <li><a href="../week8">8</a></li>
      <li><a href="../week9">9</a></li>
      <li><a href="../week10">10</a></li>
      <li><a href="../week11">11</a></li>
      <li><a href="../week12">12</a></li>
      <li><a href="../week13">13</a></li>
      <li><a href="../week14">14</a></li>
    </ul>
  </nav>
